# Игнорировать папки и файлы кеша Python
__pycache__/
*.py[cod]

# Игнорировать файлы конфигурации среды разработки
.vscode/

# Игнорировать виртуальную среду
venv/
.env

# Игнорировать журнальные файлы и временные файлы
*.log
*.tmp

*.db
*.json
insta.py
*.html
log.txt